* {
  box-sizing: border-box;
}

.hidden {
  display: none
}

div {
    text-align: center;
}

img {
  width: 100%;
}

.error-message {
    color: red;
}

.wikipedia-results {
  text-align: left;
  padding: 40px;
  margin: auto;
  border: 1px solid rgb(0, 0, 0);
}

.recipes-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-item {
  width: 100%;
  border-style: groove;
  margin-bottom: 2.5%;
}

/* Handle styling for bigger screens */
@media all and (min-width: 600px) {
  .recipes-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .recipe-item {
    width: 19%;
    border-style: groove;
    margin-bottom: 2.5%;
  }
}