* {
  box-sizing: border-box;
}

html {
  background-image: url("images/food-table-with-hamburger.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-style: dotted; */
}

input[name="search-food"] {
  border-radius: 25px;
}

form {
  margin: auto;
}

.search-child {
  /* Center vertically and horizontally */
  position: absolute;
  top: 30%;
  left: 15%;
  margin: -25px 0 0 -25px;/* apply negative top and left margins to truly center the element */
}

h1, h2 {
  color: #ffffff;
}

.search h1 {
  margin-bottom: 0%;
}

.search h2 {
  margin-top: 0%;
  margin-bottom: 30px;
  font-family: 'Courgette', cursive;
}

h3 {
  color: #2b2b2b;
}

a {
  color: #1f3a93;
}

label {
  color: #fefefe;
}

p {
  color: #3e3e3e;
}

.hidden {
  display: none
}

div {
    text-align: center;
}

form {
  margin-bottom: 50px;
}

img {
  width: 100%;
}

.error-message {
    color: red;
}

.wikipedia-results {
  text-align: left;
  padding: 40px;
  margin: auto;
  border: 1px solid #1c2833;
  background-color: #bb8154;
}

.recipes-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-item {
  width: 100%;
  border-style: inset;
  border-color: #1c2833;
  margin-bottom: 2.5%;
  background-color: #bb8154;
}

/* Handle styling for bigger screens */
@media all and (min-width: 600px) {
  .recipes-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  input[name="search-food"] {
  border-radius: 25px;
  width: 300px;
  height: 30px;
  }

  .recipe-item {
    width: 19%;
    border-style: groove;
    margin-bottom: 2.5%;
  }

  .search-child {
    /* Center vertically and horizontally */
    left: 32%;
  }
  .search h1 {
    font-size: 60px;
    margin-bottom: 0%;
  }

  .search h2 {
    font-size: 30px;
    margin-top: 0%;
    margin-bottom: 30px;
  }

  .search label {
    font-size: 20px;
  }
}